.ngx-datatable.scroll-vertical{height:70vh;}

.list-contracts{
    padding: 8px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    flex-wrap: wrap;
}

.page-title{
    margin-left: 20px;
    font-size: 28px;
    font-weight: 500;
}

.list-background{
    background-color: #e3e3e3;
    margin: 8px 80px 80px 20px;

}

.ngx-datatable.material {
    box-shadow: none;
    border: 1px solid #e3e3e3;
  }

.card-contract{
    height: auto;
    background-color: #ffffff;
    width: 48%;
    padding: 8px;
    border: 1px solid #d2d2d2;
    border-top: 5px solid rgb(69, 16, 163);
    border-bottom: 2px solid #a9a9a9;
    margin-bottom: 20px;
    /* background-color: #ffffff; */
}

.contract-body{
    border: 1px solid rgb(0, 0, 149);
    border-radius: 2px;
    padding: 8px 6px 0px 6px;
    border-bottom: none;
}

.insurance-company-data{
    margin-top: 12px;
    border: 1px solid rgb(0, 0, 149);
    border-radius: 2px;
    padding: 8px 6px 0px 6px;
    border-bottom: none;
}

.proposal-data{
    margin-top: 12px;
    border: 1px solid rgb(0, 86, 0);
    border-radius: 2px;
    padding: 8px 6px 0px 6px;
}

.card-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

.card-subtitle{
    font-size: 15.5px;
    font-weight: 600;
    padding-bottom: 12px;
}

.card-contratante{
    font-size: 14px;
}

.card-contratada{
    font-size: 14px;
}

.contratante-bold{
    font-size: 14px;
    font-weight: 500;
}

.action-buttons{
    /* margin-top: 14px; */
    margin-left: -7px;
    margin-right: -7px;
}

.row{
    margin: 8px;
    background-color: #ffffff;
}

.see-contract{
    width: 100%;
    height: 32px;
    border: 1px solid rgb(69, 16, 163);
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(69, 16, 163);
}

.buttons-actions{
    display: flex;
    margin-top: 3px;
    flex-direction: row;
}

.accept-contract{
    width: 99%;
    height: 30px;
    color: white;
    border: 1px solid rgb(0, 86, 0);
    background-color: rgb(0, 86, 0);
    height: 32px;
    font-weight: 600;
    font-size: 14px;
}

.recuse-contract{
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(195, 0, 0);
    border: 1px solid rgb(195, 0, 0);
    height: 32px;
    font-weight: 600;
    font-size: 14px;
}

.acionate-contract{
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(12, 210, 171);
    border: 1px solid rgb(12, 210, 171);
    height: 32px;
    font-weight: 600;
    font-size: 14px;
}

.verify-contract{
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgb(36, 11, 91);
    border: 1px solid rgb(36, 11, 91);
    height: 32px;
    font-weight: 600;
    font-size: 14px;
}