.coluna_container {
  width: 100%;
}
.coluna_container mat-card {
  margin: 2%;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("src/assets/fundoHome.jpg");
  background-size: cover;
}
.main-container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  justify-content: flex-start;
  padding-top: 10%;
  border: 0%;
  background-color: #311b1b;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

mat-form-field {
  width: 100%;
  width: 400px;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 100px;
  height: 60px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coluna_container {
  max-width: 95%;
  padding: 0%;
  justify-content: center;
  width: 100%;
  padding: 0%;
}
h3 {
  justify-content: start;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box > * {
  flex: 1 1 160px;
  margin-bottom: 3%;
}
#container_carrosel_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#container_carrosel {
  margin: 2%;
  opacity: 90%;
  height: 100px;
  background-color: white;
}
footer {
  height: 5%;
  text-align: center;
  font: 1em sans-serif;
  background-color: #331e1e;
  color: #959c2c;
}

footer h1 {
  font: 1em sans-serif;
  color: #959c2c;
  font-size: 30px;
}
span {
  justify-content: start;
  color: #ffffff;
  font-family: "Mulish";
  border: #240b5b;
}
span h1 {
  color: #331e1e;
  font-size: 60px;
}
span h5 {
  font-size: 40px;
}
#buton_simule {
  top: 2%;
  margin: 13%;
  margin-top: 5%;
  width: 700px;
  height: 70px;
  border-radius: 2%;
  background-color: #331e1e;
  text-align: center;
  font-size: 45px;
}

#buton_simule:hover {
  background-color: #442e2e;
}
h2 {
  color: #959c2c;
  text-align: center;
}
p {
  font-size: 18px;
  text-align: center;
  color: #959c2c;
}
/* h1{
  color: black;
} */

.risk-data {
  font-family: "Mulish";
  font-size: 2rem;
}

.risk-data-info {
  margin-top: 16px;
  font-family: "Mulish";
  font-size: 0.6rem;
  color: #545454;
  letter-spacing: 0.25px;
}

.risk-data-label {
  margin-top: 4px;
  font-family: "Mulish";
}

.risk-data-content {
  font-family: "Mulish";
}
