  <mat-card>
    <img src="src/assets//fundoHome.gif">
    <mat-card-content>

      <form [formGroup]="searchForm">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Insira o nome"
            required
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Insira o telefone"
            required
            formControlName="phoneNumber"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Insira o email"
            required
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field>
        <div class="coluna_container">
          <div fxLayout="column" fxFlex="50%">
            <mat-card class="mat-elevation-z2">
              <mat-card-content>
                <h5><b>Cultura</b></h5>
              </mat-card-content>
              <mat-card-content>
                <mat-select
                  matInput
                  placeholder="Escolha a cultura desejada"
                  formControlName="culture"
                >
                  <mat-option
                    *ngFor="let option of cultures"
                    [value]="option.id"
                  >
                    {{ option.cultura }}
                  </mat-option>
                </mat-select>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-form-field>
      <mat-form-field>
        <div class="coluna_container">
          <div fxLayout="column" fxFlex="50%">
            <mat-card class="mat-elevation-z2">
              <mat-card-content>
                <h5><b>Cidade</b></h5>
              </mat-card-content>
              <mat-card-content>
                <mat-select
                  matInput
                  placeholder="Escolha a cultura desejada"
                  formControlName="city"
                >
                  <mat-option
                    *ngFor="let option of city"
                    [value]="option.IBGE7"
                  >
                    {{ option.Municipio }} - {{ option.UF }}
                  </mat-option>
                </mat-select>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-form-field>

      <button
      mat-raised-button
      class="custom-raised-button-2"
      (click)="search()"
    >
      Buscar Dados
    </button>
      </form>
    </mat-card-content>
  </mat-card>
