.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #240b5b;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

mat-form-field {
  width: 100%;
  width: 400px;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 100px;
  height: 60px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coluna_container{
  max-width: 95%;
  padding: 0%;
  justify-content: center;
  width: 100%;
  padding: 0%;
}
h3{
  justify-content: start;
}
