img{
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
#video{
  padding: 0;
  position: relative;
  text-align: center;
}
h1{
  display: flex;
  position: absolute;
  color: rgb(29, 100, 231);
  text-align: center;
  top: 10%;
  font-family: 'Mulish-BoldItalic';
  font-size: 80px;
  justify-content: center;
}
form{
  display: flex;
  flex-direction: column;
  background-color: rgb(148, 153, 158);
  opacity: 80%;
  border-radius: 10%;
  left: 32%;
  max-width: 35%;
  height: 50%;
  position: absolute;
  color: rgb(29, 100, 231);
  top: 30%;
  font-family: 'Mulish-BoldItalic';
  font-size: 80px;
  justify-content: center;
}
form .coluna_container{
  padding: 4% 5% 0 5%;
}
p{
  font-size: 30px;
  margin-bottom: 0%;
  padding-top: 5%;
}
input{
  font-size: 30%;
  max-width: 100%;
}
button{
  width: 70%;
  height: 10%;
}
#cont{
  padding: 0%;
  color: none;
}

